<main class="bg-white">
  <div class="container-fluid pb-5">
    <div class="row jumbotron bg-light">

      <!--main content-->
      <div class="col-md-6 main-content pt-5">
        <p class="display-3 text-danger font-weight-bold">Connect through online events</p>
        <p class="display-6 font-weight-bold">Invite users to your event "<%= @event.title %>""</p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F99640538%2F318874502279%2F1%2Foriginal.20200428-011950?w=1024&auto=format%2Ccompress&q=75&sharp=10&s=64b3d01c7088e33e8425e93fb43cf485" alt="">
      </div>


      <!--end main content-->

      <div id="overlay"></div>
    </div>
  </div>
  <div class="container mb-5">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Username</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td>
              <% if invited?(user, @event.id) && attended?(user, @event.id) %>
              <p>Invitation accepted</p>
              <% elsif invited?(user, @event.id) && attended?(user, @event.id) != true %>
              <%= link_to "Cancel invitation", cancel_path(user_id: user.id, event_id: @event.id), class: "p-2 text-center bg-white rounded nav-link border border-danger text-danger" %>
              <% else %>
              <%= link_to "Invite", invite_path(user_id: user.id, event_id: @event.id), class: "p-2 text-center bg-white rounded nav-link blue-oschool" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</main>
